nav {
    margin: 10px 0;
}

table {
    border-collapse: collapse;
    border-spacing: 0px;
}

table, th, td {
    padding: 5px;
    border: 1px solid black;
}

devtools-tabs {
  margin-top: 20px;
}

devtools-tabs > ul {
  display: inline-block;
  padding: 0px;
  margin: 0px;
}

devtools-tabs > ul:after {
  content: ".";
  display: block;
  height: 1px;
  clear: both;
  visibility: hidden;
}

devtools-tabs > ul li {
  float: left;
  padding: 10px;
  background-color: #F6F6F6;
  list-style: none;
  margin-left: 10px;
  color: #1C94C4;
  font-weight: bold;
  text-decoration: none;
}

devtools-tabs > ul li.active {
  color: #F6A828;
  cursor: default;
}

devtools-tabs > devtools-tabs-panel {
  clear: both;
  display: block;
}
